body{
  
    display: flex;
    justify-content: center;
}
#exo{
    display: flex;
}
div{
   
    text-align: center;
}
button{
    background-color: blueviolet;
    color: white;
    border: none;
    padding: 5px;
    box-shadow: .5px 4px 10px black;
}