body{
  color: rgb(72, 72, 72);
    display: flex;
    justify-content: center;
}
section{
   margin-top: 10%;
}
#exo{
    display: flex;
}
div{
   padding: 10px 10px 50px 10px;
    text-align: center;
}
.deux{

    background-color: blueviolet;
}
button{
    background-color: blueviolet;
    color: white;
    border: none;
    padding: 5px;
    box-shadow: .5px 4px 10px black;
}